build_info.json

Crazyflie_Firmware/^bin/dep/all
Crazyflie_Firmware/bin/*
Crazyflie_Firmware/.cproject
Crazyflie_Firmware/.project
Crazyflie_Firmware/.settings/*
*~
Crazyflie_Firmware/tools/make/config.mk
Crazyflie_Firmware/cflie.*
Crazyflie_Firmware/version.c

Crazyflie_Firmware/cf2.*
Crazyflie_Firmware/cf1.*
Crazyflie_Firmware/*.gch

Crazyflie_Firmware/generated-test/**

Matlab/slprj
Matlab/*.autosave
Matlab/*.asv
